@charset "utf-8";

body {
	margin:0px;
}
.container-fluid {
	padding:0px;
}
.logobg {
	padding:0px;
	background-color:#000000;
	text-align:center;
}
.textcenter {
	text-align:center;
}
.navbar {
    margin:0px;
	background-color:#F9E90E;

}

